.column1{
   background-color:#FFBE0B ; 
}
.column2{
    background-color:#FB5607;
}
.column3{
    background-color:#FF006E;
}
.column4{
    background-color:#3A86FF;
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }